<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433097576430-1ka3e53scnor0df19jl47epkj5v21nl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433097576430-1ka3e53scnor0df19jl47epkj5v21nl4</string>
	<key>API_KEY</key>
	<string>AIzaSyCfLheBzIoTLWm9LwQbR9K_SAv7MsQttig</string>
	<key>GCM_SENDER_ID</key>
	<string>433097576430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JBDev.AcropolisManagement</string>
	<key>PROJECT_ID</key>
	<string>warehouse-e0486</string>
	<key>STORAGE_BUCKET</key>
	<string>warehouse-e0486.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433097576430:ios:a5435e335ebe03597ec8ff</string>
	<key>DATABASE_URL</key>
	<string>https://warehouse-e0486.firebaseio.com</string>
</dict>
</plist>